<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Everything Church Blog</title>
    <link rel="shortcut icon" href="/assets/images/pink-logo.png" type="image/x-icon">
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<body>
    <!--header-->
    <%- include("./blocks/header-1.ejs") %>
        <!--/header-->
        <!-- main-slider -->
        <section class="w3l-main-slider" id="home">
            <div class="companies20-content">
                <div class="owl-one owl-carousel owl-theme">
                    <div class="item">
                        <li>
                            <div class="slider-info banner-view bg bg2">
                                <div class="banner-info">
                                    <div class="container">
                                        <div class="banner-info-bg">
                                            <h5>Discover God’s Love and Grace Daily</h5>
                                            <p class="mt-4 pr-lg-4">Join us on a journey to deepen your faith and transform your life through God’s word</p>
                                            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#main-posts">
                                                Ready to
                                                get started?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="item">
                        <li>
                            <div class="slider-info  banner-view banner-top1 bg bg2">
                                <div class="banner-info">
                                    <div class="container">
                                        <div class="banner-info-bg">
                                            <h5>Grow Spiritually with Every Visit</h5>
                                            <p class="mt-4 pr-lg-4">Explore our resources to strengthen your relationship with God and become a better believer</p>
                                            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#main-posts">
                                                Ready to
                                                get started?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="item">
                        <li>
                            <div class="slider-info banner-view banner-top2 bg bg2">
                                <div class="banner-info">
                                    <div class="container">
                                        <div class="banner-info-bg">
                                            <h5>Deepen Your Relationship with Christ</h5>
                                            <p class="mt-4 pr-lg-4">Discover practical steps to walk in His light daily</p>
                                            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#main-posts">
                                                Ready to
                                                get started?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="item">
                        <li>
                            <div class="slider-info banner-view banner-top3 bg bg2">
                                <div class="banner-info">
                                    <div class="container">
                                        <div class="banner-info-bg">
                                            <h5>Transform Your Life Through Christ</h5>
                                            <p class="mt-4 pr-lg-4">Stay connected with us to continually grow in faith and become the best version of yourself</p>
                                            <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="#main-posts">
                                                Ready to
                                                get started?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>

            <div class="waveWrapper waveAnimation">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none">
                    <path d="M-5.07,73.52 C149.99,150.00 299.66,-102.13 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none;"></path>
                </svg>
            </div>
        </section>
        <!-- /main-slider -->
        <section class="w3l-courses" id="main-posts">
            <div class="w3l-blog pb-5" id="courses">
                <div class="container py-lg-5 py-md-4 py-2">
                    <div class="row">
                        <%if(blogPosts.length===0){%>
                            <div class="col-12 text-center">
                                <p>No Post Found in Database </p>
                            </div>
                            <%}else if(blogPosts.length> 3){%>
                                <div class="col-lg-4 col-md-6 item">
                                    <div class="card">
                                        <div class="card-header p-0 position-relative">
                                            <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>" class="zoom d-block">
                                                <img class="card-img-bottom d-block"
                                                    src="<%=blogPosts[0].titleImage%>" alt="Card image cap">
                                            </a>
                                            <div class="post-pos">
                                                <a href="#reciepe" class="receipe blue">
                                                    <%=blogPosts[0].category%>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-body course-details">
                                            <!-- <div
                                                class="price-review d-flex justify-content-between mb-1align-items-center">
                                                <div class="author align-items-center">
                                                    <img src="assets/images/a1.jpg" alt=""
                                                        class="img-fluid rounded-circle">
                                                    <ul class="blog-meta">
                                                        <li>
                                                            <a href="#author">
                                                                <%=blogPosts[0].author%>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="blog-meta">
                                                    <li>
                                                        <a href="#comments"> <span
                                                                class="fa fa-comments-o"></span> 4</a>
                                                    </li>
                                                </ul>
                                            </div> -->
                                            <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>"
                                                class="course-desc">
                                                <%=blogPosts[0].title%>
                                            </a>
                                            <p class="mt-3 text-truncate"><%-blogPosts[0].summary%></p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>"
                                                class="read">Read More <span
                                                    class="fa fa-angle-right ml-1"></span></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                                    <div class="card">
                                        <div class="card-header p-0 position-relative">
                                            <a href="/post/<%=blogPosts[1].id%>/<%=blogPosts[1].title%>" class="zoom d-block">
                                                <img class="card-img-bottom d-block" src="<%=blogPosts[1].titleImage%>"
                                                    alt="Card image cap">
                                            </a>
                                            <div class="post-pos">
                                                <a href="#reciepe" class="receipe blue"><%=blogPosts[1].category%></a>
                                            </div>
                                        </div>
                                        <div class="card-body course-details">
                                            <!-- <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                                <div class="author align-items-center">
                                                    <img src="assets/images/a2.jpg" alt="" class="img-fluid rounded-circle">
                                                    <ul class="blog-meta">
                                                        <li>
                                                           <a href="#author"> <%=blogPosts[1].author%></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="blog-meta">
                                                    <li>
                                                        <a href="#comments"> <span class="fa fa-comments-o"></span> 2</a>
                                                    </li>
                                                </ul>
                                            </div> -->
                                            <a href="/post/<%=blogPosts[1].id%>/<%=blogPosts[1].title%>%>" class="course-desc"><%=blogPosts[1].title%></a>
                                                <p class="mt-3 text-truncate"><%-blogPosts[1].summary%></p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="/post/<%=blogPosts[1].id%>/<%=blogPosts[1].title%>%>" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
                                    <div class="card">
                                        <div class="card-header p-0 position-relative">
                                            <a href="/post/<%=blogPosts[2].id%>/<%=blogPosts[2].title%>" class="zoom d-block">
                                                <img class="card-img-bottom d-block" src="<%=blogPosts[2].titleImage%>"
                                                    alt="<%=blogPosts[2].title%>">
                                            </a>
                                            <div class="post-pos">
                                                <a href="#reciepe" class="receipe blue"><%=blogPosts[2].category%></a>
                                            </div>
                                        </div>
                                        <div class="card-body course-details">
                                            <!-- <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                                <div class="author align-items-center">
                                                    <img src="assets/images/a3.jpg" alt="" class="img-fluid rounded-circle">
                                                    <ul class="blog-meta">
                                                        <li>
                                                           <a href="#author"> <%=blogPosts[2].author%></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="blog-meta">
                                                    <li>
                                                        <a href="#comments"> <span class="fa fa-comments-o"></span> 3</a>
                                                    </li>
                                                </ul>
                                            </div> -->
                                            <a href="/post/<%=blogPosts[2].id%>/<%=blogPosts[2].title%>" class="course-desc"><%=blogPosts[2].title%></a>
                                            
                                            <p class="mt-3 text-truncate"><%-blogPosts[2].summary%></p>
                                        </div>
                                        <div class="card-footer">
                                            <a href="/post/<%=blogPosts[2].id%>/<%=blogPosts[2].title%>" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                                        </div>
                                    </div>
                                </div>

                                <%for (let index = 3; index < blogPosts.length; index++) {%>
                                    <%const e = blogPosts[index];%>
                                    
                                    <div class="col-lg-4 col-md-6 item mt-5 pt-lg-2">
                                        <div class="card">
                                            <div class="card-header p-0 position-relative">
                                                <a href="<%=`/post/${e.id}/${e.title}`%>" class="zoom d-block">
                                                    <img class="card-img-bottom d-block" src="<%=`${e.titleImage}`%>"
                                                        alt="Card image cap">
                                                </a>
                                                <div class="post-pos">
                                                    <a href="#reciepe" class="receipe blue"><%=e.category%></a>
                                                </div>
                                            </div>
                                            <div class="card-body course-details">
                                                <!-- <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                                    <div class="author align-items-center">
                                                        <img src="assets/images/a4.jpg" alt="" class="img-fluid rounded-circle">
                                                        <ul class="blog-meta">
                                                            <li>
                                                               <a href="#author"> <%=e.author%></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <ul class="blog-meta">
                                                        <li>
                                                            <a href="#comments"> <span class="fa fa-comments-o"></span> 5</a>
                                                        </li>
                                                    </ul>
                                                </div> -->
                                                <a href="<%=`/post/${e.id}/${e.title}`%>" class="course-desc"><%=e.title%>
                                                </a>
                                                <p class="mt-3 text-truncate"><%-e.summary%></p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="<%=`/post/${e.id}/${e.title}`%>" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                <%}%>
                                <%}else if (blogPosts.length===1){%>
                                    <div class="col-lg-4 col-md-6 item">
                                        <div class="card">
                                            <div class="card-header p-0 position-relative">
                                                <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>" class="zoom d-block">
                                                    <img class="card-img-bottom d-block"
                                                        src="<%=blogPosts[0].titleImage%>" alt="Card image cap">
                                                </a>
                                                <div class="post-pos">
                                                    <a href="#reciepe" class="receipe blue">
                                                        <%=blogPosts[0].category%>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card-body course-details">
                                                <!-- <div
                                                    class="price-review d-flex justify-content-between mb-1align-items-center">
                                                    <div class="author align-items-center">
                                                        <img src="assets/images/a1.jpg" alt=""
                                                            class="img-fluid rounded-circle">
                                                        <ul class="blog-meta">
                                                            <li>
                                                                <a href="#author">
                                                                    <%=blogPosts[0].author%>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <ul class="blog-meta">
                                                        <li>
                                                            <a href="#comments"> <span class="fa fa-comments-o"></span>
                                                                4</a>
                                                        </li>
                                                    </ul>
                                                </div> -->
                                                <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>"
                                                    class="course-desc">
                                                    <%=blogPosts[0].title%>
                                                </a>
                                                <p class="mt-3 text-truncate"><%-blogPosts[0].summary%></p>
                                            </div>
                                            <div class="card-footer">
                                                <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>"
                                                    class="read">Read More <span
                                                        class="fa fa-angle-right ml-1"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <%}else if (blogPosts.length===2){%>
                                        <div class="col-lg-4 col-md-6 item">
                                            <div class="card">
                                                <div class="card-header p-0 position-relative">
                                                    <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>" class="zoom d-block">
                                                        <img class="card-img-bottom d-block"
                                                            src="<%=blogPosts[0].titleImage%>" alt="Card image cap">
                                                    </a>
                                                    <div class="post-pos">
                                                        <a href="#reciepe" class="receipe blue">
                                                            <%=blogPosts[0].category%>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="card-body course-details">
                                                    <!-- <div
                                                        class="price-review d-flex justify-content-between mb-1align-items-center">
                                                        <div class="author align-items-center">
                                                            <img src="assets/images/a1.jpg" alt=""
                                                                class="img-fluid rounded-circle">
                                                            <ul class="blog-meta">
                                                                <li>
                                                                    <a href="#author">
                                                                        <%=blogPosts[0].author%>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <ul class="blog-meta">
                                                            <li>
                                                                <a href="#comments"> <span
                                                                        class="fa fa-comments-o"></span> 4</a>
                                                            </li>
                                                        </ul>
                                                    </div> -->
                                                    <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>"
                                                        class="course-desc">
                                                        <%=blogPosts[0].title%>
                                                    </a>
                                                    <p class="mt-3 text-truncate"><%-blogPosts[0].summary%></p>
                                                </div>
                                                <div class="card-footer">
                                                    <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>"
                                                        class="read">Read More <span
                                                            class="fa fa-angle-right ml-1"></span></a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                                            <div class="card">
                                                <div class="card-header p-0 position-relative">
                                                    <a href="/post/<%=blogPosts[1].id%>/<%=blogPosts[1].title%>" class="zoom d-block">
                                                        <img class="card-img-bottom d-block" src="<%=blogPosts[1].titleImage%>"
                                                            alt="Card image cap">
                                                    </a>
                                                    <div class="post-pos">
                                                        <a href="#reciepe" class="receipe blue"><%=blogPosts[1].category%></a>
                                                    </div>
                                                </div>
                                                <div class="card-body course-details">
                                                    <!-- <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                                        <div class="author align-items-center">
                                                            <img src="assets/images/a2.jpg" alt="" class="img-fluid rounded-circle">
                                                            <ul class="blog-meta">
                                                                <li>
                                                                   <a href="#author"> <%=blogPosts[1].author%></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <ul class="blog-meta">
                                                            <li>
                                                                <a href="#comments"> <span class="fa fa-comments-o"></span> 2</a>
                                                            </li>
                                                        </ul>
                                                    </div> -->
                                                    <a href="/post/<%=blogPosts[1].id%>/<%=blogPosts[1].title%>" class="course-desc"><%=blogPosts[1].title%></a>
                                                        <p class="mt-3 text-truncate"><%-blogPosts[1].summary%></p>
                                                </div>
                                                <div class="card-footer">
                                                    <a href="/post/<%=blogPosts[1].id%>/<%=blogPosts[1].title%>" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <%}else{%>
                                            <div class="col-lg-4 col-md-6 item">
                                                <div class="card">
                                                    <div class="card-header p-0 position-relative">
                                                        <a href="/post/<%=blogPosts[1].id%>/<%=blogPosts[0].title%>" class="zoom d-block">
                                                            <img class="card-img-bottom d-block"
                                                                src="<%=blogPosts[0].titleImage%>" alt="Card image cap">
                                                        </a>
                                                        <div class="post-pos">
                                                            <a href="#reciepe" class="receipe blue">
                                                                <%=blogPosts[0].category%>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="card-body course-details">
                                                        <!-- <div
                                                            class="price-review d-flex justify-content-between mb-1align-items-center">
                                                            <div class="author align-items-center">
                                                                <img src="assets/images/a1.jpg" alt=""
                                                                    class="img-fluid rounded-circle">
                                                                <ul class="blog-meta">
                                                                    <li>
                                                                        <a href="#author">
                                                                            <%=blogPosts[0].author%>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <ul class="blog-meta">
                                                                <li>
                                                                    <a href="#comments"> <span
                                                                            class="fa fa-comments-o"></span> 4</a>
                                                                </li>
                                                            </ul>
                                                        </div> -->
                                                        <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>"
                                                            class="course-desc">
                                                            <%=blogPosts[0].title%>
                                                        </a>
                                                        <p class="mt-3 text-truncate"><%-blogPosts[0].summary%></p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <a href="/post/<%=blogPosts[0].id%>/<%=blogPosts[0].title%>"
                                                            class="read">Read More <span
                                                                class="fa fa-angle-right ml-1"></span></a>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                                                <div class="card">
                                                    <div class="card-header p-0 position-relative">
                                                        <a href="/post/<%=blogPosts[1].id%>/<%=blogPosts[1].title%>" class="zoom d-block">
                                                            <img class="card-img-bottom d-block" src="<%=blogPosts[1].titleImage%>"
                                                                alt="Card image cap">
                                                        </a>
                                                        <div class="post-pos">
                                                            <a href="#reciepe" class="receipe blue"><%=blogPosts[1].category%></a>
                                                        </div>
                                                    </div>
                                                    <div class="card-body course-details">
                                                        <!-- <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                                            <div class="author align-items-center">
                                                                <img src="assets/images/a2.jpg" alt="" class="img-fluid rounded-circle">
                                                                <ul class="blog-meta">
                                                                    <li>
                                                                       <a href="#author"> <%=blogPosts[1].author%></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <ul class="blog-meta">
                                                                <li>
                                                                    <a href="#comments"> <span class="fa fa-comments-o"></span> 2</a>
                                                                </li>
                                                            </ul>
                                                        </div> -->
                                                        <a href="/post/<%=blogPosts[1].id%>/<%=blogPosts[1].title%>%>" class="course-desc"><%=blogPosts[1].title%></a>
                                                            <p class="mt-3 text-truncate"><%-blogPosts[1].summary%></p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <a href="/post/<%=blogPosts[1].id%>/<%=blogPosts[1].title%>%>" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
                                                <div class="card">
                                                    <div class="card-header p-0 position-relative">
                                                        <a href="/post/<%=blogPosts[2].id%>/<%=blogPosts[2].title%>" class="zoom d-block">
                                                            <img class="card-img-bottom d-block" src="<%=blogPosts[2].titleImage%>"
                                                                alt="<%=blogPosts[2].title%>">
                                                        </a>
                                                        <div class="post-pos">
                                                            <a href="#reciepe" class="receipe blue"><%=blogPosts[2].category%></a>
                                                        </div>
                                                    </div>
                                                    <div class="card-body course-details">
                                                        <!-- <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                                            <div class="author align-items-center">
                                                                <img src="assets/images/a3.jpg" alt="" class="img-fluid rounded-circle">
                                                                <ul class="blog-meta">
                                                                    <li>
                                                                       <a href="#author"> <%=blogPosts[2].author%></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <ul class="blog-meta">
                                                                <li>
                                                                    <a href="#comments"> <span class="fa fa-comments-o"></span> 3</a>
                                                                </li>
                                                            </ul>
                                                        </div> -->
                                                        <a href="/post/<%=blogPosts[2].id%>/<%=blogPosts[2].title%>" class="course-desc"><%=blogPosts[2].title%></a>
                                                        
                                                        <p class="mt-3 text-truncate"><%-blogPosts[2].summary%></p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <a href="/post/<%=blogPosts[2].id%>/<%=blogPosts[2].title%>" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                                <!-- <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="blog-single.html" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/c3.jpg"
                                    alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">Beginner</a>
                            </div>
                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <div class="author align-items-center">
                                    <img src="assets/images/a1.jpg" alt="" class="img-fluid rounded-circle">
                                    <ul class="blog-meta">
                                        <li>
                                           <a href="#author"> Olivia</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#comments"> <span class="fa fa-comments-o"></span> 4</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="blog-single.html" class="course-desc">Open Programming Courses for everyone : Python
                            </a>
                            <p class="mt-3">Lorem ipsum dolor sit amet dolor et elit. Explicabo, enim.</p>
                        </div>
                        <div class="card-footer">
                            <a href="blog-single.html" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="blog-single.html" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/c4.jpg"
                                    alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">Beginner</a>
                            </div>
                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <div class="author align-items-center">
                                    <img src="assets/images/a2.jpg" alt="" class="img-fluid rounded-circle">
                                    <ul class="blog-meta">
                                        <li>
                                           <a href="#author"> Isabella</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#comments"> <span class="fa fa-comments-o"></span> 2</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="blog-single.html" class="course-desc">Learning to Write as a clean Professional
                                Author</a>
                                <p class="mt-3">Lorem ipsum dolor sit amet dolor et elit. Explicabo, enim.</p>
                        </div>
                        <div class="card-footer">
                            <a href="blog-single.html" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="blog-single.html" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/c1.jpg"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <div class="author align-items-center">
                                    <img src="assets/images/a3.jpg" alt="" class="img-fluid rounded-circle">
                                    <ul class="blog-meta">
                                        <li>
                                           <a href="#author"> Kenny</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#comments"> <span class="fa fa-comments-o"></span> 3</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="blog-single.html" class="course-desc">Learn Master JQuery in a Short Period of Time</a>
                            
                            <p class="mt-3">Lorem ipsum dolor sit amet dolor et elit. Explicabo, enim.</p>
                        </div>
                        <div class="card-footer">
                            <a href="blog-single.html" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 item mt-5 pt-lg-2">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="blog-single.html" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/c2.jpg"
                                    alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">Beginner</a>
                            </div>
                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <div class="author align-items-center">
                                    <img src="assets/images/a4.jpg" alt="" class="img-fluid rounded-circle">
                                    <ul class="blog-meta">
                                        <li>
                                           <a href="#author"> Unique</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#comments"> <span class="fa fa-comments-o"></span> 5</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="blog-single.html" class="course-desc">Open Programming Courses for everyone : Python
                            </a>
                            <p class="mt-3">Lorem ipsum dolor sit amet dolor et elit. Explicabo, enim.</p>
                        </div>
                        <div class="card-footer">
                            <a href="blog-single.html" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item mt-5 pt-lg-2">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="blog-single.html" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/c5.jpg"
                                    alt="Card image cap">
                            </a>
                            <div class="post-pos">
                                <a href="#reciepe" class="receipe blue">Beginner</a>
                            </div>
                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <div class="author align-items-center">
                                    <img src="assets/images/a1.jpg" alt="" class="img-fluid rounded-circle">
                                    <ul class="blog-meta">
                                        <li>
                                           <a href="#author"> Olivia</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#comments"> <span class="fa fa-comments-o"></span> 4</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="blog-single.html" class="course-desc">Learning to Write as a clean Professional
                                Author</a>
                                <p class="mt-3">Lorem ipsum dolor sit amet dolor et elit. Explicabo, enim.</p>
                        </div>
                        <div class="card-footer">
                            <a href="blog-single.html" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item mt-5 pt-lg-2">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="blog-single.html" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/c6.jpg"
                                    alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body course-details">
                            <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                <div class="author align-items-center">
                                    <img src="assets/images/a2.jpg" alt="" class="img-fluid rounded-circle">
                                    <ul class="blog-meta">
                                        <li>
                                           <a href="#author"> Isabella</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="blog-meta">
                                    <li>
                                        <a href="#comments"> <span class="fa fa-comments-o"></span> 2</a>
                                    </li>
                                </ul>
                            </div>
                            <a href="blog-single.html" class="course-desc">Learn Master JQuery in a Short Period of Time</a>
                            
                            <p class="mt-3">Lorem ipsum dolor sit amet dolor et elit. Explicabo, enim.</p>
                        </div>
                        <div class="card-footer">
                            <a href="blog-single.html" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                        </div>
                    </div>
                </div> -->
                    </div>
                    <!-- pagination -->
                    <div class="pagination-wrapper mt-5 pt-lg-3 text-center">
                        <ul class="page-pagination">
                            <li><a class="next" href="#ua"><span class="fa fa-angle-left"></span> Prev</a></li>
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#u1">2</a></li>
                            <li><a class="page-numbers" href="#u2">3</a></li>
                            <li><a class="page-numbers" href="#u3">....</a></li>
                            <li><a class="next" href="#uz">Next <span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>
                    <!-- //pagination -->
                </div>
            </div>
        </section>
        <!-- footer -->
        <%- include("./blocks/footer-1.ejs") %>
            <!-- //footer -->
            <script>
                // pagination disappear
                let paginationWrapper = document.querySelector(".pagination-wrapper")
                paginationWrapper.addEventListener("click", ()=>{
                    paginationWrapper.replaceChildren("There are no more posts to display")
                })
            </script>
            <!-- Template JavaScript -->
            <script src="assets/js/jquery-3.3.1.min.js"></script>

            <script src="assets/js/theme-change.js"></script>

            <!-- stats number counter-->
            <script src="assets/js/jquery.waypoints.min.js"></script>
            <script src="assets/js/jquery.countup.js"></script>
            <script>
                $('.counter').countUp();
            </script>
            <!-- //stats number counter -->

            <script src="assets/js/owl.carousel.js"></script>
            <!-- script for banner slider-->
            <script>
                $(document).ready(function () {
                    $('.owl-one').owlCarousel({
                        loop: true,
                        margin: 0,
                        nav: false,
                        dots: false,
                        responsiveClass: true,
                        autoplay: true,
                        autoplayTimeout: 5000,
                        autoplaySpeed: 1000,
                        autoplayHoverPause: false,
                        responsive: {
                            0: {
                                items: 1
                            },
                            480: {
                                items: 1
                            },
                            667: {
                                items: 1
                            },
                            1000: {
                                items: 1,
                                nav: true
                            }
                        }
                    })
                })
            </script>
            <!-- //script -->

            <!-- script for tesimonials carousel slider -->
            <script>
                $(document).ready(function () {
                    $("#owl-demo1").owlCarousel({
                        loop: true,
                        margin: 20,
                        nav: false,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1,
                                nav: false
                            },
                            768: {
                                items: 2,
                                nav: false
                            },
                            1000: {
                                items: 3,
                                nav: false,
                                loop: false
                            }
                        }
                    })
                })
            </script>
            <!-- //script for tesimonials carousel slider -->

            <!-- disable body scroll which navbar is in active -->
            <script>
                $(function () {
                    $('.navbar-toggler').click(function () {
                        $('body').toggleClass('noscroll');
                    })
                });
            </script>
            <!-- disable body scroll which navbar is in active -->

            <!--/MENU-JS-->
            <script>
                $(window).on("scroll", function () {
                    var scroll = $(window).scrollTop();

                    if (scroll >= 80) {
                        $("#site-header").addClass("nav-fixed");
                    } else {
                        $("#site-header").removeClass("nav-fixed");
                    }
                });

                //Main navigation Active Class Add Remove
                $(".navbar-toggler").on("click", function () {
                    $("header").toggleClass("active");
                });
                $(document).on("ready", function () {
                    if ($(window).width() > 991) {
                        $("header").removeClass("active");
                    }
                    $(window).on("resize", function () {
                        if ($(window).width() > 991) {
                            $("header").removeClass("active");
                        }
                    });
                });
            </script>
            <!--//MENU-JS-->

            <script src="assets/js/bootstrap.min.js"></script>



</body>

</html>