<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> <%=post.title%> | Everything Church </title>
    <link rel="shortcut icon" href="/assets/images/pink-logo.png" type="image/x-icon">
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style-liberty.css">
    
  </head>
  <body>
<!--header-->
<%- include("./blocks/header-1.ejs") %>
<!--/header-->
<!-- about breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container pt-lg-5 pt-3 p-lg-4 pb-3">
            <h1 class="title mt-5 pt-lg-5 pt-sm-3 text-center text-white text-bold font-weight-bold display-4"><%=post.title%> </h1>
            <!-- <h2 class="title mt-5 pt-lg-5 pt-sm-3">Open Programming Courses for everyone </h2> -->
            <ul class="breadcrumbs-custom-path pb-sm-5 pb-4 mt-2 text-center mb-md-5">
                <li><a href="/">Home</a></li>
                <li class="active"> / posts </li>
                <li class="active"> / <%=post.title%> </li>
            </ul>
        </div>
    </div>
    <div class="waveWrapper waveAnimation">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none">
            <path d="M-5.07,73.52 C149.99,150.00 299.66,-102.13 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path>
        </svg>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- single post -->
<section class="text-11 pb-5">
    <div class="text11 py-lg-5 py-md-4">
        <div class="container">
          <div class="my-2 ml-2 display-5">
              <i class="fa fa-user" aria-hidden="true"></i> By <%=post.author%> | Updated <%=update%>
          </div>
            <img src="<%=post.titleImage%>" class="img-fluid radius-image" alt="" />
            <div class="text11-content pt-5">
              <!-- if you aren't using h4 as the first heading here make sure pt-4 class is added above as shown for spacings for spacings. the h4 tag automatically has margin spacing above it i.e mt-4-->
                <!-- <h4 class="">How to improve knowledge skills</h4>  -->
                <!-- <h2 class="font-weight-bold">How to improve knowledge skills</h2> -->
                <%-post.contentBody%>

                <!-- <div class="social-share-blog mt-md-5 mt-4">
                    <ul class="column3 social m-0 p-0">
                        <li>
                            <p class="m-0 mr-4">Share this post :</p>
                        </li>
                        <li><a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a></li>
                        <li><a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div> -->

                <%if(currentUser){%>
                <hr class="border-light mt-5">
                <div class="row justify-content-between py-1 font-weight-bold" id="post-ammend">
                  <div class="col-auto"><a href="/post/<%=post.id%>/edit"><i class="fa fa-pencil-square-o fa-lg mr-1" aria-hidden="true"></i> Edit Post</a></div>
                  <div class="col-auto">
                    <!-- Button trigger modal -->
                    <button data-toggle="modal" data-target="#exampleModal" type="button">Delete Post <i class="fa fa-trash-o fa-lg ml-1" aria-hidden="true"></i></button>
                  </div>
                </div>
                <hr class="border-light">
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <form action="/" method="get" class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you really sure about this?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        All resources for <b class="font-weight-bold"><%=post.title%></b> will be removed from the database. This action cannot be undone.
                        <div class="my-3">
                          Are you sure you want to delete this Blog Post?
                        </div>
                        Please type the ID <b class="text-primary"><%=post.id%></b> in the text box below to confirm
                          <input type="text" class="form-control my-3" name="delete-id" id="delete-form" pattern="<%=post.id%>" required>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-primary" id="delete-button" disabled>Delete Post</button>
                      </div>
                    </form>
                  </div>
                </div>
                <%}%>


                <div class="item mt-5 w3l-grids-block-5 w3l-courses">
                    <h3 class="aside-title">Maybe you are interested in </h3>
                    <div class="row w3l-blog">
                        <div class="col-md-6 item">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="/assets/images/c1.jpg"
                                            alt="Card image cap">
                                    </a>
                                    <div class="post-pos">
                                        <a href="#reciepe" class="receipe blue">Beginner</a>
                                    </div>
                                </div>
                                <div class="card-body course-details">
                                    <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                        <div class="author align-items-center">
                                            <img src="/assets/images/a2.jpg" alt="" class="img-fluid rounded-circle">
                                            <ul class="blog-meta">
                                                <li>
                                                   <a href="#author"> Charlotte</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="#comments"> <span class="fa fa-comments-o"></span> 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="blog-single.html" class="course-desc">Learning to Write as a clean Professional
                                        Author</a>
                                        <p class="mt-3">Lorem ipsum dolor sit amet dolor et elit. Explicabo, enim.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="blog-single.html" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-6 item mt-md-0 mt-5">
                            <div class="card">
                                <div class="card-header p-0 position-relative">
                                    <a href="blog-single.html" class="zoom d-block">
                                        <img class="card-img-bottom d-block" src="/assets/images/c2.jpg"
                                            alt="Card image cap">
                                    </a>
                                </div>
                                <div class="card-body course-details">
                                    <div class="price-review d-flex justify-content-between mb-1align-items-center">
                                        <div class="author align-items-center">
                                            <img src="/assets/images/a2.jpg" alt="" class="img-fluid rounded-circle">
                                            <ul class="blog-meta">
                                                <li>
                                                   <a href="#author"> Charlotte</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="blog-meta">
                                            <li>
                                                <a href="#comments"> <span class="fa fa-comments-o"></span> 4</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="blog-single.html" class="course-desc">Learn Master JQuery in a Short Period of Time</a>
                                    
                                    <p class="mt-3">Lorem ipsum dolor sit amet dolor et elit. Explicabo, enim.</p>
                                </div>
                                <div class="card-footer">
                                    <a href="blog-single.html" class="read">Read More <span class="fa fa-angle-right ml-1"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //single post -->
<!-- footer -->
<%- include("./blocks/footer-1.ejs") %>
<!-- //footer -->

<!-- Custom Js -->
<script>
  const blockquote = document.getElementsByTagName('blockquote');
  for (const e of blockquote) {
    e.classList.add("quote")
    e.innerHTML+= `<footer class="blockquote-footer mt-3"> Tweet <a href=''><i class="fa fa-twitter" aria-hidden="true"></i></a></footer>`
  }

  const deleteForm = document.getElementById("delete-form");
  const deleteButton = document.getElementById("delete-button");
  deleteForm.addEventListener("input", (e)=>{
    if (deleteForm.validity.patternMismatch){
      console.log("mismatched")
      // deleteButton.removeAttribute("disabled");
      // deleteButton.classList.remove("btn-outline-primary");
      // deleteButton.classList.add("btn-primary");
    }else{
      console.log("matched")
      // deleteButton.setAttribute("disabled");
      // deleteButton.classList.add("btn-outline-primary");
      // deleteButton.classList.remove("btn-primary");
    }
  })

  // const lists = document.querySelectorAll("ol");
  // lists.forEach(e => {
  //   e.outerHTML = `<div class="text-list">
  //                   <ol>
  //                     ${e.innerHTML}
  //                   </ol>
  //               </div>`
  // });
</script>

<!-- Template JavaScript -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>

<script src="/assets/js/theme-change.js"></script>

<!-- stats number counter-->
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/jquery.countup.js"></script>
<script>
  $('.counter').countUp();
</script>
<!-- //stats number counter -->

<script src="/assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
  $(document).ready(function () {
    $('.owl-one').owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      dots: false,
      responsiveClass: true,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1
        },
        480: {
          items: 1
        },
        667: {
          items: 1
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script -->

<!-- script for tesimonials carousel slider -->
<script>
  $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
          loop: true,
          margin: 20,
          nav: false,
          responsiveClass: true,
          responsive: {
              0: {
                  items: 1,
                  nav: false
              },
              768: {
                  items: 2,
                  nav: false
              },
              1000: {
                  items: 3,
                  nav: false,
                  loop: false
              }
          }
      })
  })
</script>
<!-- //script for tesimonials carousel slider -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->

<script src="/assets/js/bootstrap.min.js"></script>



</body>

</html>